<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Home">Aqualogix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Bitacoras
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Crear">Registar bitacoras</a></li>
                        <li><a class="dropdown-item" href="/Mostrar">Ver bitacoras</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Register">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login">Iniciar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>