<app-nav-usuario></app-nav-usuario>

<h2 class="text-center">
    Editar la bitácora
</h2>

<form [formGroup]="postForm" (ngSubmit)="updatePost()">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Calle</label>
        <input formControlName="calle" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Colonia</label>
        <input formControlName="colonia" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Litros</label>
        <input formControlName="litros" type="text" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Actualizar</button><br><br>
    <button type="button" class="btn btn-primary" routerLink="/Home">Regresar</button>

</form>